@model fids_backend.Models.FlightDetail

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="margin-top: 50px; margin-bottom: 30px;">Details</h1>

<div>
    <h4>Flight Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Flight No.
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Airline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Airline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Origin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Origin)
        </dd>
        <dt class = "col-sm-2">
            Origin IATA Code
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginIata)
        </dd>
        <dt class = "col-sm-2">
            Departure Time
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>
        <dt class = "col-sm-2">
            Departure Terminal
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureTerminal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class = "col-sm-2">
            Destination IATA Code
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationIata)
        </dd>
        <dt class = "col-sm-2">
            Arrival Time
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        <dt class = "col-sm-2">
            Arrival Terminal
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalTerminal)
        </dd>
        <dt class = "col-sm-2">
            Flight Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightDate)
        </dd>
        <dt class = "col-sm-2">
            Flight Duration
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightDuration)
        </dd>
    </dl>
</div>
<div style="margin-top: 40px;">
    @if (Model.FlightDate < DateTime.Now && Model.FlightDate.ToString("dd/MM/yyyy") != DateTime.Now.ToString("dd/MM/yyyy"))
    {
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    }
    else
    {
        <a asp-action="Edit" asp-route-id="@Model?.FlightId" class="btn btn-primary">Edit</a><span> | </span>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    }
</div>
